<div class="card">
  <div class="card-header">
    <h5>Add New Property</h5>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #Form="ngForm">
      <div class="form-group col-12 m-2 p-3">
        <label for="name">Name:</label>
        <input type="text" id="name" #propName="ngModel" ngModel name="name" required class="form-control" minlength="5">
        <span *ngIf="!propName.valid && propName.touched" class="error-block">
          <span *ngIf="propName.errors?.['required']">This field is required</span>
          <!-- Why "?": If propName.errors is truthy (not null or undefined), then the property access ['required'] proceeds,
             and you check if the 'required' property exists in the errors object.If propName.errors is falsy (null or undefined),
             the entire expression evaluates to null, and the template code inside *ngIf will not be executed. -->
          <span *ngIf="propName.errors?.['minlength']">Name must be atleast five char long</span>
        </span>
      </div>
      <div class="form-group col-12 m-2 p-3">
        <label for="type">Type:</label>
        <input type="text" id="type" ngModel name="Type" required class="form-control">
      </div>
      <div class="form-group col-12 m-2 p-3">
        <label for="price">Price:</label>
        <input type="number" id="price" ngModel name="Price" required class="form-control">
      </div>

      <div class="form-group col-12 p-3">
        <!-- <button [disabled]="!Form.valid" type="submit" class="btn btn-primary m-2">Save</button> -->
        <button type="submit" class="btn btn-primary m-2">Save</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </div>
</div>

