<!-- Template Driven Form Used -->
<div class="row mb-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <h4>List your property</h4>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div>
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">
                <div class="form-group col-12 m-2 p-3">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="Purpose">
                    <label class="btn btn-outline-primary marginSell" btnRadio=1 role="button"
                      >Sell</label>
                    <label class="btn btn-outline-primary" btnRadio=2 role="button">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="Purpose.invalid && nextClicked">
                    Please select sell or rent
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName="BHK">
                    <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary marginSell" [btnRadio]="bhk"
                      role="button">{{bhk}}</label>
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType">
                    <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary marginSell"
                      [btnRadio]="ptype" role="button">{{ptype}}</label>
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary marginSell"
                      [btnRadio]="ftype" role="button">{{ftype}}</label>
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label for="name">In Building/Society/Project</label>
                  <input type="text" id="name" formControlName="Name" required class="form-control"
                    minlength="5">
                  <!-- <span *ngIf="!propName.valid && propName.touched" class="error-block">
                    <span *ngIf="propName.errors?.['required']">This field is required</span>
                    Why "?": If propName.errors is truthy (not null or undefined), then the property access ['required'] proceeds,
                   and you check if the 'required' property exists in the errors object.If propName.errors is falsy (null or undefined),
                   the entire expression evaluates to null, and the template code inside *ngIf will not be executed.
                    <span *ngIf="propName.errors?.['minlength']">Name must be atleast five char long</span>
                  </span> -->
                </div>
                <div class="form-group col-12 m-2 p-3">
                  <label>City</label> 
                  <!-- check what is this name used for y there are many sell rent -->
                  <input formControlName='City' type="text" required class="form-control">
                </div>

                <div class="form-group col-12 p-3">
                  <!-- <button [disabled]="!Form.valid" type="submit" class="btn btn-primary m-2">Save</button> -->
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, BasicInfo.valid)">Next</button>
                </div>
              </tab>
              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12 m-2 p-3">
                  <label *ngIf="Purpose.value == 1">Price</label>
                  <label *ngIf="Purpose.value == 2">Rent</label>
                  <input type="text" class="form-control" formControlName="Price">
                  <div class="error-block" *ngIf="Price.invalid && (nextClicked || Price.touched)">
                    Please select price
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Security</label>
                  <input type="text" class="form-control" formControlName="Security"> 
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Maintenance</label>
                  <input type="text" class="form-control" formControlName="Maintenance">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="BuildArea">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="CarpetArea">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, BasicInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0, BasicInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12 m-2 p-3">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Landmark</label>
                  <input type="text" class="form-control" formControlName="LandMark">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3, BasicInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, BasicInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12 m-2 p-3">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label class="btn btn-outline-primary marginSell" btnRadio=0 role="button" >Yes</label>
                    <label class="btn btn-outline-primary" btnRadio=1 role="button">No</label>
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label for="possession_date">Possession/Avaialble From</label>
                  <input type="date" id="possession_date" class="form-control" formControlName="PossessionOn">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Age of Property</label>
                  <input type="text" class="form-control" formControlName="AOP">
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label class="btn btn-outline-primary marginSell" btnRadio=1 role="button">Yes</label>
                    <label class="btn btn-outline-primary" btnRadio=2 role="button">No</label>
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label *ngFor="let direction of readyToMove" class="btn btn-outline-primary marginSell"
                      [btnRadio]="direction" role="button">{{direction}}</label>
                  </div>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6" formControlName="Description"></textarea>
                </div>

                <div class="form-group col-12 m-2 p-3">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(4, BasicInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, BasicInfo.valid)">Back</button>
                </div>
              </tab>
              <tab heading="Photos">
                <div class="form-group col-12 m-2 p-3">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div>
                <div class="form-group col-12 m-2 p-3">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3, BasicInfo.valid)">Back</button>
                  <button type="reset" class="btn btn-primary btn-block">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
              </tab>
            </tabset>
          </div>


        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h4>Peek Into Your Property</h4>
      </div>
        <div>
          <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
        </div>      
    </div>
  </div>
</div>