/* Your component styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #4CAF50;
    color: #ffffff;
    border: 1px solid #4CAF50;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 180px;
  }
  
  .dropdown-toggle:hover {
    background-color: #45a049;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
    max-height: 200px; /* Set a maximum height for the dropdown menu */
    overflow-y: auto; /* Add a scrollbar if the menu exceeds the maximum height */
    width: 180px; /* Set a fixed width or adjust as needed */
  }
  
  .dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .show {
    display: block;
  }
  