<div class="card card-hover p-2">
  <div class="card-img-wrapper">
    <img *ngIf="property.Image" class="card-propImage" src="assets/images/{{property.Image}}.jpg" />
    <img *ngIf="!property.Image" class="card-propImage" src="assets/images/default-house.jpg" />
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-outline-light" routerLink="/property-detail/{{property.Id}}"><i
            class="fa-solid fa-pen-to-square"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-outline-light"><i class="fa-solid fa-address-book"></i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h2 class="mb-0" *ngIf="property.BHK"> {{property.BHK}} BHK </h2>
    {{property.PType}}
    <span *ngIf="property.Name">in {{property.Name}},</span>
    {{property.City}}

    <h6 *ngIf="property.FType" class="mt-2">{{property.FType}}
      <span *ngIf="property.FType !== 'Unfurnished'">Furnished
        <span *ngIf="property.RTM == 0"> | Ready to Move</span>
      </span>
    </h6>

    <h6 *ngIf="property.Price" class="mb-0">
      <hr class="mt-0 mb-2">
      Price: <span class="text-primary">{{property.Price}} INR.</span> |
      Area: <span>{{property.BuildArea}} Sq Ft </span>
    </h6>
  </div>

  <!-- <div class="card-body p-1">
    <h1 class="mb-0"> {{property.BHK}} BHK {{property.PType}} </h1>

    in {{property.Name}}
    <span *ngIf="property.Name">,</span>
    {{property.City}}

    <h6  class="mt-2">{{property.FType}}
    <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to Move</h6>

    <hr class="mt-0 mb-2">

    <h6 class="mb-0">Price: <span class>{{property.Price}} USD.</span> |
      Area:  <span>{{property.BuildArea}} Sq Ft </span> </h6>
  </div> -->

</div>