.card-propImage{
    height: 250px;
    overflow: hidden;
    border-radius: 8px; /* Adds rounded corners to the image */
}

.card-img-wrapper{
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.card:hover img{
    transform: scale(1.1,1.1);
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    opacity: 0.9;
}

.card img{
    transform: scale(1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.member-icons{
    position: absolute;
    bottom: -20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card-hover:hover .member-icons{
    bottom: 0;
    opacity: 1;
}

.animate{
    transition: all 0.3s ease-in-out;
}

.card-body {
    background-color: #ffffff; /* Sets card body background color to white */
    border-radius: 0 0 8px 8px; /* Rounds only bottom corners of the card body */
    padding: 15px; /* Adds padding to the card body */
}

.card {
    border: 1px solid #cce0ff; /* Adds a border to the card with a blue color */
    border-radius: 8px; /* Rounds all corners of the card */
}

.text-primary {
    color: #007bff; /* Sets the text color to blue */
}
