<div class="card p-2">
  <div class="card-img-wrapper">
    <img class="card-propImage" src="assets/images/default-house.jpg" />
    <ul class="list-inline text-center member-icons">
      <li class="list-inline-item">
        <button class="btn btn-outline-primary">EE</button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-outline-primary">EE</button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1>{{ property.Type }}</h1>
    <h2>{{ property.Price }}</h2>
    <h3>{{ property.Name }}</h3>
  </div>
</div>
